<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodluyoruz-HTML</title>
</head>
<body>
    <h1>Kodluyoruz-HTML</h1>
    <nav>
    <ul>
        <li>Lorem.</li>
        <li>Debitis?</li>
        <li>Laborum?</li>
        <li>Vitae.</li>
        <li>Autem!</li>
    </ul>
</nav>
<hr>

<div>
    <h2>Left Bar</h2>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>Provident, facilis?</li>
        <li>Ducimus, sequi!</li>
        <li>Atque, voluptatum.</li>
    </ul>
</div>

<div>
    <div>
        <hi>Lorem.</hi>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Beatae distinctio neque porro dolore!</p>
    </div>
    <div>
        <h1>Footer</h1>
        <p>Lorem, ipsum dolor.</p>
    </div>
</div>
</body>
</html>