<h1> Büşra Yılmaz</h1>

<div>
<h3>Hakkımda</h3>
<p> Merhaba ben Büşra Yılmaz. Yıldız Teknik Üniversitesi Bilgisayar ve Öğretim Teknolojileri Eğitimi 3. Sınıf öğrencisiyim. Web geliştirme ile ilgililenmeye başladım. Şu anda kodluyoruz ve patika işbirliğinde hazırlanan front-end web development patikasını takip ediyorum. </p>
</div>

<div>
    <h3>İlgi Alanlarım</h3>
    <ol>
        <li> filmler
            <ul>
                <li>
                    <a href="https://www.imdb.com/title/tt0241527/">Harry Potter</a>
            
                </li>
                <li>Interstellar</li> 
                <li>Godzilla</li>
            </ul>
        </li>
        <li> Diziler
            <ul>
                <li>Umbrella Academy</li>
                <li>
                   <a target="_blank" href="https://www.imdb.com/title/tt0412142/?ref_=nv_sr_srsg_3">House M.D</a>
                </li>
                <li>Peaky Blinders</li>
            </ul>
        </li>
        <li>Kitap
            <ul>
                <li>Mavi Saçlı Kız</li>
                <li>Harry Potter</li>
                <li>Masumiyet Müzesi</li>
            </ul>
        </li>
    </ol>
</div>

<h2> Sevdiğim Diziler</h2>
<h3> Breaking Bad </h3>

<img src="https://im.haberturk.com/2020/07/31/ver1596219930/2760925_1200x627.jpg" alt=" bu görsel breaking bad görselidir">

